name: Go

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: ^1.18

      - name: Build
        run: go build -v ./...

      - name: Test
        run: go test -v

      - name: Coverage
        uses: paambaati/codeclimate-action@v2.2.4
        env:
          CC_TEST_REPORTER_ID: 8d42a832e932bae5dd7cffb05e4f2661b6c4aef5a6e376bec585cd1ec10c324d
        with:
          coverageCommand: go test -v --race -covermode=atomic -coverprofile=coverage.out ./...
          coverageLocations: ${{github.workspace}}/coverage.out
